@if(Notifications != null)
{
    <ul class="text-wrap text-break">
     
        @foreach(var message in Notifications)
        {
            <li>
                @if(message.Action ==  BrowserAction.Navigate)
                {
                    <span class="badge bg-info">
                        <p>Navigated</p>
                    </span>
                }
                else if(message.Action == BrowserAction.FailedNavigationRetrying)
                {
                    <span class="badge bg-danger">Failed navigation, retrying</span>
                }
                else if(message.Action ==  BrowserAction.FailedNavigationRetrying)
                {
                    <span class="badge bg-danger">Fatal Error</span>
                }
            </li>
        }
    </ul>
}