@if(Notifications != null)
{
    <ul class="list-group" style="text-overflow: ellipsis; white-space: nowrap; overflow:hidden">
     
        @foreach(var message in Notifications)
        {
            <li class="list-group-item">
                <span class="badge @GetCss(message)">
                    <p>@message</p>
                </span>               
            </li>
        }
    </ul>
}