@foreach(var site in Sites)
{
    <label>@site.Site.Name</label>

    <div class="d-flex">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="User Name" @bind-value="site.UserName" >
            <input type="password" class="form-control" placeholder="Password" @bind-value="site.Password">
        </div>

        @if(site.HasChanges)
        {
            <button type="button" class="btn btn-primary" @onclick="() => SaveCredentials(site)" >Save</button>
        }
    </div>
   
}