@page "/"

<div class="d-flex flex-column h-100">

    <div>
        <button type="button" class="btn btn-primary" @onclick="DoMagicStuff">Do Magic Stuff</button>
    </div>

    <div class="flex-fill" style="max-height:100%; overflow:hidden;">

        <div class="d-flex flex-row align-items-stretch h-100">
            
            <div style="width: 30%; overflow-y:auto;">
                <BrowserMessagesPanel Notifications="Notifications" />
            </div>

            <div class="flex-grow-1" style="width:200px; overflow-y:auto;">
                @foreach(var job in Postings)
                {
                    <JobResultPreview Job="job" />
                }
            </div>

        </div>

    </div>

</div>
  
