@page "/"

<div class="d-flex flex-column h-100">

    <div>
        <FilterPanel Filter="CurrentFilter" 
            SearchRequested="PerformSearch"
            SearchCancelRequested="CancelSearch"
            IsSearching="IsSearching" 
            />
    </div>

    <div class="flex-fill" style="max-height:100%; overflow:hidden;">

        <div class="d-flex flex-row align-items-stretch h-100">
            
            <div class="flex-grow-1" style="width:200px; overflow-y:auto;">

                <JobResultStats Postings="Postings" />

                @foreach(var job in Postings)
                {
                    <JobResultPreview JobResult="job" />
                }
            </div>

            <div style="width: 30%; overflow-y:auto;">
                <BrowserMessagesPanel Notifications="Notifications" />
            </div>
           
        </div>

    </div>

</div>
  
<ModalContainer Id="CredentialsModal" Title="Credentials">
    <CredentialsPanel />
</ModalContainer>