<div class="m-2">

    <div class="d-flex justify-content-between mb-2">

        <WorkplaceTypePicker 
            CurrentSelection="Filter.WorkplaceTypeFilter" 
            SelectionChanged="p => Filter.WorkplaceTypeFilter = p" />

        <SalaryTypePicker 
            CurrentSelection="Filter.SalaryTypeFilter"
            SelectionChanged="p => Filter.SalaryTypeFilter = p" />

        <JobTypePicker 
            CurrentSelection="Filter.JobTypeFilter"
            SelectionChanged="p => Filter.JobTypeFilter = p" />

        <JobLevelPicker 
            CurrentSelection="Filter.JobLevelFilter"
            SelectionChanged="p => Filter.JobLevelFilter = p" />

    </div>

    <div class="row">

        <div class="col-6">
            <SitePicker 
                CurrentSelection="Filter.Sites"
                SelectionChanged="p => Filter.Sites = p" />
        </div>

         <div class="col-1">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#CredentialsModal">...</button>
        </div>

    </div>

      <div class="row align-items-start">

        <div class="col-6">
            <input type="text" class="form-control w-100 mw-100" style="width:200px" placeholder="Search Text" aria-label="Enter Search Terms" 
            @bind="@Filter.Query">
        </div>

        <div class="col-2">
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="number" @bind="SalaryK" class="form-control" aria-label="Salary">
                <span class="input-group-text">K</span>
            </div>
        </div>

       

        <div class="col-1">            
            <button type="button" class="btn btn-primary" @onclick="SearchButtonClicked">Search</button>
        </div>
    </div>

</div>
